:root {
    --glass-bg: rgba(255, 255, 255, 0.04);
    --glass-border: 2px solid rgba(255, 255, 255, 0.02);
    --primary: red;
    --success: #34C759;
    --warning: #FF9500;
    --text: #fff;
    --radius: 14px;
    --margin: 18px;
    --shadows: 2px 4px 10px 0 rgba(0, 0, 0, 0.1);
    --border: 3px solid #fff;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

* {
    
    scrollbar-width: none;
    -ms-overflow-style: none;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    
    -webkit-touch-callout: none;
    
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;

    outline: none;
}

* { margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    background: #1C1C1C;
    color: var(--text);
    padding: 0;
    width: 100vw;
}

.none { display: none !important}

.controles {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.dv {
    border-radius: var(--radius);
    background-color: var(--glass-bg);
    margin: var(--margin);
    text-align: center;
    padding: 30px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    flex: 0 0 40%
}

.carrossel, .card-principal {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.glass {
    background: var(--glass-bg);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: var(--radius);
}

.card {
    margin: var(--margin);
    text-align: center;
    padding: 30px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    border-left: 3px solid red;
    flex: 0 0 40%;
}

.bord {
    border-left: 3px solid red;
}

.card h2 { font-size: 3em; font-weight: 200; }

.card:hover, .stat-card:hover {
    transform: scale(0.98);
}
.stat-card { transition: all 0.3s ease; }

#jackin-snippet {
    width: 80vw !important;
}
.jackin-info { padding: 0 10px; }

.status-on {
    border-right: 3px solid #00ff6a;
}
.status-off {
    border-right: 3px solid #ff2b2b;
}

header {
    position: fixed;
    top: 10px;
    left: 0%;
    z-index: 100;
    padding: 10px;
    border-radius: 0 var(--radius) var(--radius) 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

header.minimized {
    transform: translateX(calc(-100% + 50px)); 
}

#toggle-snippet {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    font-size: 16px;
    z-index: 101;
}

#toggle-snippet:active {
    transform: scale(0.9);
    background: rgba(255, 255, 255, 0.2);
}

header.minimized #toggle-snippet {
    translate: 5%;
}

.status-info { display: flex; gap: 15px; font-weight: 600; font-size: 0.9em; }

/* Main Content */
main { padding: 80px 20px 100px; height: 100%; overflow-y: auto; }

.page { display: none; }
.page.active { display: flex; flex-direction: column; gap: 20px; }

.row {
    display: flex;
    width: 100%;
    gap: 1em;
}

/* Inputs */
.btn {
    box-shadow: var(--shadows);
    border: none;
    padding: 15px;
    height: 60px;
    border-radius: var(--radius);
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.2s;
    flex: 1;
}

.btn-atender, .btn-desligar, .btn-minimizar {
    border-radius: var(--radius);
    height: 50px;
    width: 50px;
    border: none;
}
.btn-atender { background: var(--success); }
.btn-desligar { background: var(--primary); }
.btn-minimizar { background: var(--glass-bg); }
.btn-pausa { background: var(--warning); color: white; border: var(--glass-border); }
.btn-retornar { background: var(--glass-bg); color: var(--text); border: var(--glass-border); flex: 0 0 100%; }
.btn:active { opacity: 0.7; }
.btn-glass { background: rgba(255, 255, 255 , .05); color: var(--text); }

.btn-m {
    position: relative;
    /* Parte do pseudo-elemento ::after */
    overflow: hidden;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    padding: 12px 5px;
    border-radius: 10px;
    font-size: 0.8em;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-m.confirming {
    border-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
}

.btn-021 {
    background: rgba(255, 0, 0, 0.15);
    border-color: rgba(255, 0, 0, 0.3);
}

.drop {
    color: var(--text);
}

#pause-type {
    width: 50%;
}

.control-group { display: flex; flex-direction: column; gap: 12px;
flex: 0 0 40%;
    
}

.stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.stat-card { padding: 20px; text-align: center; }
.stat-card h4 { font-size: 1.4em; }
.stat-card p { font-size: 0.8em; opacity: 0.6; }

/* Bottom Nav */
.bottom-nav {
    position: fixed;
    bottom: 20px;
    left: 10%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background: var(--glass-bg);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: var(--radius);
    border: var(--glass-border);
}

.nav-item { color: var(--text); background: none; border: none; padding: 10px; font-size: 0.9em; opacity: 0.4; }
.nav-item.active { opacity: 1; font-weight: bold; border-bottom: 2px solid var(--primary); }

select.glass { border: none; padding: 10px; border-radius: 10px; appearance: none; text-align: center;}

.toast{
    position:fixed;
    bottom:90px;
    left:50%;
    transform:translateX(-50%) translateY(20px);
    padding:16px 22px;
    border-radius:16px;
    background:rgba(20, 20, 20, 0.6);
    backdrop-filter:blur(10px);
    color:#fff;
    font-weight:500;
    font-size: 14px;
    opacity:0;
    transition:.3s;
    z-index:9999;
}
.toast.show{
    opacity:1;
    transform:translateX(-50%) translateY(0)
}
.confirming{
    position:relative;
    overflow:hidden
}
.confirming::after{
    content:'';
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.35);
    transform:translateX(-100%);
    animation:confirmSlide 2.5s linear forwards
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    padding: 20px;
}

.modal-content {
    width: 100%;
    max-width: 350px;
    padding: 25px;
    text-align: center;
    border: var(--glass-border);
}

.modal-content h3 {
    margin-bottom: 20px;
    font-weight: 300;
}

.motivos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}



@keyframes confirmSlide{
    to{transform:translateX(0)}
}


@media (max-width: 600px) {
    
    .home-content { display: flex; flex-direction: column; padding: 0 !important;}
    .carrossel, .card-principal {
        width: 100%;
        overflow-x: auto;
        gap: 1em;
        scroll-behavior: smooth;
        anchor-name: --carrossel;
        scroll-snap-type: x mandatory;
        scroll-marker-group: after;
    }
    .card-principal {touch-action: pan-y;}
    .carrossel::scroll-marker-group {
        display: flex;
        justify-content: center;
        gap: .5em;
        margin-bottom: 18px;
    }

    .card {
        scroll-snap-align: center;
        aspect-ratio: 5 / 1 !important;
        flex: 0 0 100%;
    }
    .card::scroll-marker {
    content: ' ';
    height: .5em;
    width: .5em;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 50%;
    }
    .card.card::scroll-marker:target-current {
        background-color: var(--primary);
    }
    .controles {
        flex-direction: column;
        gap: 1em;
    }
    .btn-atender, .btn-desligar, .btn-minimizar{
        width: 50px !important;
        height: 50px !important;
    }
    .telefone {
        position: fixed;
        bottom: 100px;
        left: 0%;
        z-index: 100;
        border-radius: 0 var(--radius) var(--radius) 0;
        border-right: var(--border);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-color: white;
        padding: 12px;
        background-color: var(--glass-bg);
    }
    .stats-grid {
        display: flex;
        flex-direction: column;
    }
}